$pinkish: #ff4260;
$footer-background: #ff4c68;
$texto: #fff;
$breakpoint-tablet: 1377px;
@import "node_modules/bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Ubuntu&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    max-width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    position: relative;
}

#title {

    padding: 3% 15% 9%;
    background-color: $pinkish;

    .navbar {
        padding: 60px 0;
        font-size: 1.5em;

        .navbar-brand {
            font-size: 3rem;
            font-weight: normal;
            font-family: 'Ubuntu', sans-serif;
        }

        .nav-item {
            margin-left: 50px;
        }
    }

    .container-fluid {
        padding: 0;

        .chamada {

            h1 {
                font-family: 'Montserrat', sans-serif;
                font-weight: bolder;
                font-size: 4rem;
                line-height: 1.5em;
                color: $texto;
                // max-width: 45%;

            }

            .btn {
                margin: 20px 30px 50px 0px;
                font-size: 2rem;
            }
        }

        .smartdog {
            img {
                position: absolute;
                width: 60%;
                transform: rotate(30deg);
            }
        }

    }

}


#features {
    position: relative;
    padding: 7% 15%;
    background-color: #fff;

    .feat-item {
        text-align: center;
        padding: 0 10%;

        i {
            &:hover {
                color: #313131;
            }

            font-size: 5rem;
            color: #ef8172
        }

        p {
            color: #8f8f8f;
            font-size: 1em;
        }

        h3 {
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            font-size: 1.5rem;
            margin: 5%;
        }
    }

}

#testimonials {
    padding: 7% 25%;
    background-color: #e0786a;
    text-align: center;

    img {
        border-radius: 25%;
        margin: 5% 0 2%;
    }

    h2,
    em {
        font-family: 'Montserrat', sans-serif;
        color: #fff;
    }

    h2 {
        font-weight: 900;
        font-size: 3rem;
        line-height: 1.5;
    }

    em {
        font-size: 2em;
    }

    img {
        margin-right: 20px;
        width: 20%;
    }
}

#press {
    background-color: #e0786a;
    padding: 0 15% 7%;
    text-align: center;

    img {
        padding: 0;
        width: 200px;
    }

}

#pricing {

    .card {
        margin: 2%;
    }

    padding: 5% 15%;

    .btn {
        width: 100%;
    }

    .title {
        text-align: center;

    }

    h2,
    h3 {
        font-weight: 800;
        font-size: 3rem;
        line-height: 1.5;
    }

    h2 {
        text-decoration: to;
        font-weight: 600;

        .per-month {
            color: #8a8a8a;
        }
    }

}

#cta {
    background-color: $footer-background;
    padding: 5% 15% 7%;
    text-align: center;

    // max-width: 70%;
    .footer-message {
        // max-width: 70%;
        margin: auto;

        h3 {
            font-size: 4rem;
            font-family: "Montserrat", Arial, "Helvetica Neue", Helvetica, sans-serif;
            font-weight: 900;
            color: #fff;
            padding: 3% 0 5%;
        }

        .btn {
            margin: 1em;
        }
    }
}

#footer {
    text-align: center;
}

@media only screen and (max-width: $breakpoint-tablet) {
    #title {
        text-align: center;

        .container-fluid {
            .smartdog {

                img {
                    transform: rotate(0);
                    width: 100%;
                    /*  */
                    position: static;
                }
            }
        }

    }

}