$pinkish: #ff4260;
$texto: #fff;

@import "node_modules/bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Ubuntu&display=swap');

body {
    overflow-x: hidden;
    max-width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

#title {

    padding: 0 15%;
    background-color: $pinkish;

    .navbar {
        padding: 60px 0;
        font-size: 1.5em;

        .navbar-brand {
            font-size: 3rem;
            font-weight: normal;
            font-family: 'Ubuntu', sans-serif;
        }

        .nav-item {
            margin-left: 50px;
        }
    }

    .container-fluid {
        padding: 0;

        .chamada {

            h1 {
                font-family: 'Montserrat', sans-serif;
                font-weight: bolder;
                font-size: 4rem;
                line-height: 1.5em;
                color: $texto;
                // max-width: 45%;

            }

            .btn {
                margin: 20px 30px 50px 0px;
                font-size: 2rem;
            }
        }

        .smartdog {

            position: relative;
            left: 10%;

            img {
                transform: rotate(30deg);
            }
        }

    }
}

#features {
    // display: block;
    width: 50%;
    text-align: center;

    // margin: 0 auto;
    i {
        &:hover {
            color: #ff4c68;
        }

        font-size: 5rem;
        color: #ef8172
    }

    p {
        color: #8f8f8f;
        font-size: 1em;
    }

    h3 {
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 1.5rem;
    }
}